<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>{% block title %}{% endblock %}</title>
	{% block scripts %}{% endblock %}
	
	<style>
		body {
			background-color: grey;
		}
	{% block css %}{% endblock %}
	</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">GEO-LOCATE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
       </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Software</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Coinscrypt</a>
        </div>
      </li>
  	</ul>
    <ul class="navbar-nav ml-auto">
      {% if current_user.is_authenticated %}
	  <li class="nav-item ">
        <a class="nav-link disabled" href="/profile">{{ current_user.email }}</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link disabled" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item ">
        <a class="nav-link disabled" href="/login">Log In</a>
      </li>
       <li class="nav-item ">
        <a class="nav-link disabled" href="/register">Register</a>
      </li>
      {% endif %}
      
      
      	
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
{% block content %}{% endblock %}
<script src="static/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="static/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="static/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="static/assets/js/plugins/moment.min.js"></script>
<!--  Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="static/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/apijs?key=AIzaSyC8KwSFZbAdmiv4Km6tfPa8Q2Ugw5tZqJM.."></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="static/assets/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
</body>
</html>