{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block title %}Login{% endblock %}
{% block scripts %}<link rel="stylesheet" type="text/css" href="static/forms.css">{% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
<div class="text-center">
	<div class="container reg-form">
	<div class="header-box">
		<span class="reg-heading">{{ _('Profile') }}</span>
	</div>
		<h1>{{ current_user.email }}</h1>
		<h4>{{ current_user.username }}</h4>
		<h4>Last login: {{ current_user.last_login_at.strftime('%m-%d-%Y') }}</h4>
		<h4>My IP Address: {{ current_user.current_login_ip }}</h4>
	</div>
</div>

</div>
{% endblock %}